[user]
	email = knight.joel@gmail.com
	name = Joel Knight
[core]
	editor = nvim
	pager = less -F -X
[alias]
	ci = commit
	# (c)ommits.
	c = "log --graph --pretty=format:'%C(always,yellow)%h%C(always,reset) %C(always,green)%ah%C(always,reset) %C(always,bold blue)%an%C(always,reset) %C(always,red)%d%C(always,reset) %s'"
	# 'lg' is in my muscle memory
	lg = c
	lg2 = "log --graph --pretty=format:'%C(always,yellow)%h%C(always,reset) %C(always,green)%ah%C(always,reset) %C(always,bold blue)%an%C(always,reset) %C(always,red)%d%C(always,reset)%n   %s'"
	ss = status -s
[pager]
	branch = false
[init]
	defaultBranch = main
[includeIf "gitdir:~/git/awslabs/"]
	path = ~/git/awslabs/.gitconfig
